<div class="jumbotron home-header">
    <div class="caption">
        <h1>Let's get FITness</h1>
        <p>¡Bienvenid@ a Let's Get FITness! ¡La web para amantes del entrenamiento que quieran compartir sus rutinas o descubrir las de diferentes usuarios!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 home-block">
        <div class="thumbnail home-block-thumbnail">
            <div class="caption">
                <h3>Para comenzar a ver y/o utilizar la web, regístrese</h3>
                <a routerLink="/sign-up">
                    <button type="button" class="btn btn-primary">Registro</button>
                </a>
            </div>
        </div>
    </div>
  
    <div class="col-md-6 home-block">
        <div class="thumbnail home-block-thumbnail">
            <div class=caption>
                <h3>Si usted no es un nuevo usuario, acceda a la página con sus datos de usuario</h3>
                <a routerLink="/log-in">
                    <button type="button" class="btn btn-primary">Login</button>
                </a>
            </div>
        </div>
    </div>
</div>
