<h1 class="page-header">Ver Rutina</h1>

<div class="row show-hide-message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<div *ngIf="!loadingPage">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ routine.title }}</h3>
        </div>
        <div class="panel-body">
            <pre>{{ routine.body }}</pre>
        </div>
        <div class="panel-footer">
            <p><strong>Creado por: </strong>{{ routine.createdBy }}</p>
            <p><strong>Fecha: </strong>{{ routine.createdAt | date: 'dd - MM - yyyy' }}</p>
            <p><Strong>Likes: </Strong>{{ routine.likes }}</p>
            <div *ngIf="user === routine.createdBy">
                <a [routerLink]="['/edit-routine/', routine._id]" type="button" name="button" class="btn btn-sm btn-info">Editar</a>
                <a [routerLink]="['/delete-routine/', routine._id]" type="button" name="button" class="btn btn-sm btn-danger">Eliminar</a>
            </div>
            <div *ngIf="user !== routine.createdBy">
                <button type="button" name="button" class="btn btn-sm" [ngClass]="{ 'btn-success': likedByUser, 'btn-secondary': !likedByUser }" (click)="likeRoutine()" [disabled]="processing">
                    <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;Like
                </button>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <form [formGroup]="newCommentForm" name="newCommentForm" (submit)="onCreateComment()">
                    <div class="form-group">
                        <label for="comment">Deje un comentario</label>
                        <div [ngClass]="{ 'has-success': !newCommentForm.controls.comment.errors, 'has-error': newCommentForm.controls.comment.errors && newCommentForm.controls.comment.dirty }">
                            <textarea name="comment" rows="3" cols="30" class="form-control" formControlName="comment" placeholder="*Comentario"></textarea>
                            <ul class="help-block">
                                <li *ngIf="newCommentForm.controls.comment.errors?.required && newCommentForm.controls.comment.dirty">Debe escribir un comentario</li>
                                <li *ngIf="newCommentForm.controls.comment.errors?.minlength && newCommentForm.controls.comment.dirty">El comentario debe tener un mínimo de 5 caracteres</li>
                                <li *ngIf="newCommentForm.controls.comment.errors?.maxlength && newCommentForm.controls.comment.dirty">El comentario debe tener un máximo de 120 caracteres</li>
                            </ul>
                        </div>
                    </div>
                    <input [disabled]="!newCommentForm.valid || processing" type="submit" class="btn btn-primary" value="Dejar Comentario">
                </form>
            </li>
            <li *ngFor="let comment of routine.comments" class="list-group-item">
                <strong>{{comment.commentator}}: </strong> {{ comment.comment }}
            </li>
        </ul>
    </div>
</div>
